<%
=begin%>
Number of posts by the user diplayed here
<%
=end%>

<div class="comment-container">
     <div class='comment-header'>
         <h1 id="post-title">
            "<%= @post.title%>" - <%= @post.author.name%>
         </h1>
         <div class="comment-like">
             <span>Comments: <%= @post.comments_counter%>, </span>
             <span class="likes">Likes:<%= @post.likes_counter%></span>
         </div>
     </div>
     <p>
         <%= @post.text%>
     </p>
             <div class="comment-like-button">
         <%= form_with model: @like, url: user_post_likes_path(1, @post), scope: :like do |form|%>
      <%= form.submit 'Like', class: 'single-button' %>
   <% end %>
   <button type="button" class="single-button">
   <%= link_to "Comment", new_user_post_comment_path( post_id: @post.id), { class: "user-link" } %></button>
     </div>
             <div class="comments-container-post">
                 <% @comments=Post.find(@post.id).comments %>
                     <% @comments.includes(:author).each do |comment| %>
                         <div  id="single-comment">
                             <span> <%= comment.author.name %> : <%= comment.text %></span>
                         </div>
                     <% end %>
     </div>
 </div>
